body{
    background:url('bg.jpg');
    background-repeat: no-repeat; /* repeat */
}
div{
    background-color: blue;
    border-color: orange;
    border-width: thick; /* 10px */
    border-style: double;
}

p{
    color: yellow;
}

span{
    background: red;
    color: black;
}