/*comment*/
/* select multiple lines and ctrl + / */

/* 
selected_tag {
    property: value;
} 
*/

h1{
    color: darkorchid;
}
li{
    color: rgb(153, 153, 255);
}

p{
    color: #cc00ff;
}

h4{
     color: rgba(204, 0, 0,0.5); /*alpha 0-1 */
}